html, body{
    height: 100%;
    background-color: whitesmoke;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
    background-color: #3465A4;
    border-top: 1px solid #b3b3b3;
}

.copyright{
    float:right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #d8e4f3;
    margin-right: 10px;
    padding: 5px;
}
.copyright a{
    color: #d8e4f3;
}
.copyright a:hover{
    color: #d8e4f3;
    text-decoration: underline;
}

.panel-auth{
    margin-top: 200px;
}

.panel-auth div.panel-heading{
    padding: 5px;
    padding-left: 20px;
}

.red{
    color: red;
}

h3{
    color: red;
    float: right;
    padding: 5px;
    margin: 0;
}
.main_menu{
    background-color: #3465A4;
    margin-bottom: 0;
}

.navbar-default .navbar-nav li a {
    color: #ccf2ff;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
    color: #ffffff;
    background-color: #3d77c2;
}

.table th{
    background-color: #f2f2f2;
    color: #2a88bd;
}
.table td{

}
.table td i{
    margin: 2px;
}
.table_header{
    font-weight: 600;
    background-color: #2a88bd;
}

.table_header div{
    border: 1px solid grey;
    padding: 5px;
    height: 30px;
}

.table_border{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
.firm_line div{
    border-bottom: 1px solid grey;
    padding: 5px;
    height: 30px;
    background-color: aliceblue;
}

.branch{

}

.client_line div{
    border-bottom: 1px solid grey;
    padding: 5px;
    height: 30px;
}

.form-group label{
    color: #2a88bd;
    font-size: 13px;
}

.panel-info{
    font-style: italic;
}

.panel-info i{
    color: dodgerblue;
}

i.fa-edit{
    color: green;
}
i.fa-trash{
    color: red;
}
i.fa-caret-down, i.fa-caret-up{
    font-size: 20px;
}

.filter{
    padding-top: 10px;
    background-color: #e6eeff;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.filter_btn{
    float: right;
    width: 100px;
    background-color: #e6eeff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    text-align: center;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 100;
    margin-top: -3px;
    color: #2a88bd;
}

.filter_btn span{
    font-size: 13px;
    margin: 5px;
}

.btn-success{
    margin: 10px;
}

.info{
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
}